{% extends 'base.html' %}

{% load static %}

{% block title %}Update post{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

  <li class="breadcrumb-item"><a href="{% url 'board_topics' post.topic.board.pk %}">{{ post.topic.board.name }}</a></li>
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Jobs</a></li>
  <li class="breadcrumb-item"><a href="{% url 'career_job_detail' career_job.pk %}">{{ career_job.job_title }}</a></li>
  <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Update</button>
  </form>
{% endblock %}
